body{margin:0;padding:0;width:100%;font-family:'Microsoft YaHei';line-height:1;min-width:1100px;}
img{border:0;}
ul,div,p,h1,h5,h4,input,pre,li{margin:0;padding:0;}
input,button{outline:none;}
ul li{list-style: none;  padding:0;}
.fl{float:left;}
.fr{float:right;}
.c{clear:both;}
.w1{width:1100px;margin:0 auto;overflow:hidden;}
.w2{width:1100px;margin:0 auto;}
a{text-decoration: none;color:#000;}
a:focus{  outline: none;}
a,span,label{  display:inline-block;  }
div,nav,ul,ol,h2,h3,h4,h5,p{margin:0;padding:0;}
/*banner*/
.new_banner{ width:100%;height:480px;position:relative; margin: 0 auto;}
.rslides{width:100%;position:relative;list-style:none;padding:0}
.rslides li{ width:100%; height:480px;}
.rslides li a{ display:block; height:480px;}
.rslides_nav{ width:29px; height:59px; display:block; position:absolute;text-indent:-10em; overflow:hidden;}
.prev{ background-position:0 0;left:5px; top:210px; background:url(../img/banleft.png);}
.next{ background-position:-36px 0;right:5px; background:url(../img/banright.png); top:210px;}
.rslides_tabs{ position:absolute; left:50%; bottom:20px;margin-left:-34px;clear:both;text-align:center; z-index:99999;}
.rslides_tabs li{display:inline;float:none;_float:left;*float:left;margin-right:5px}
.rslides_tabs a{ width:10px; height:10px; background:#fff;text-indent:-5em;border:2px solid #fff; overflow:hidden; display:block; float:left; margin-left:6px;border-radius:50%;}
.rslides_tabs .rslides_here a{ background:#9C0200;}
.rslides li{display:block;width:100%;height:480px;}
.hy{width:100%;height:115px;}
.logo{float:left;margin-top:15px;}
.tel{float:right;}
#nav{width:100%;height:50px;background:#A00C0A;}
.menu li{float:left;}
.menu li a{width:157px;line-height:50px;font-size:18px; font-weight:bold;color:#fff;text-align:center;}
.menu .dq a,.menu li a:hover{background:#730A0B}
.container{width:100%; position:relative; }
.case{width:1100px;margin:10px auto;}
.case .title{padding-bottom:10px;}
.case .title h2{font-size:20px;font-family:"microsoft yahei";}
.case .title-list{position:relative;width:625px;margin:0 auto;overflow:hidden;}
.case .title-list li{width:133px;line-height:41px;font-size:16px;font-weight:bold;color:#333;background:#ddd;cursor: pointer;border:1px solid #ddd;text-align:center;float:left;overflow:hidden;margin-left:21px;}
.case .title-list li.on{border:1px solid #9C0200;background:#9C0200;color:#fff;}
.product{width:1100px;overflow:hidden;margin:0 auto;display:none;margin-top:20px;}
.product ul{width:1100px;overflow:hidden;margin:0 auto;}
.product-wrap .show{display:block;}
.product-wrap .product li{float:left;display:inline;
    width:245px;margin-right:28px;margin-bottom:20px;
    transition:0.4s;-webkit-transition:0.4s;-moz-transition:0.4s;-o-transition:0.4s;-ms-transition:0.4s;}
.product-wrap .product li.ml0{margin-left:0px;}
.product-wrap .product li .img_box{display:block;width:255px;height:210px;padding:1px;border:2px solid #ddd;  text-align:center;}
.product-wrap .product li img{width:249px;height:203px;display:block;}
.product-wrap .product li .cp_txt1{width:255px;height:45px;text-align:center;line-height:45px;font-size:18px; font-weight:bold;color:#333;}
.product-wrap .product li:hover .cp_txt1{color:#9C0200;}
.product-wrap .product li:hover .img_box{border:2px solid #9C0200}
.product1{display:none;margin-top:20px;}
.product1 li{width:330px;overflow:hidden;float:left;display:inline;margin-right:54px;
    transition:0.4s;-webkit-transition:0.4s;-moz-transition:0.4s;-o-transition:0.4s;-ms-transition:0.4s;}
.product1 li a{display:block;width:330px;text-align:center;}
.product1 li img{width:330px;height:263px;display:block;}
.product1 li span{width:330px;height:37px;background:#999;text-align:center;line-height:37px;font-size:14px;color:#fff;}
.plan1_cpzx{padding-top:40px;}
.title1{overflow:hidden;margin-bottom:30px;}
.title_nr{width:192px;text-align:center;}
.title_nr span{font-size:14px;color:#666;}
.title1 h5{font-size:30px;font-weight:bolder;text-align:center;color:#333;}
.line1{width:454px;height:1px;font-size:0;line-height:1px;background:#ddd;margin-top:20px;}
.gsxw,.xwzx{width:518px;overflow:hidden;}
.plan2_news{padding-bottom:40px;overflow:hidden;}
.title2{overflow:hidden;font-size:14px;color:#666;}
.title2 h5{float:left;font-size:30px;color:#333;font-weight:bolder;}
.title2>div{width:386px;overflow:hidden;border-bottom:1px solid #ddd;padding-bottom:5px;margin-top:12px;}
.title2>div>span{float:left;}.title2>div>a{float:right;}
.plan2_newsnr1>a{width:518px;height:112px;overflow:hidden;margin:15px 0;}
.plan2_newsnr1>a>img{width:518px;height:112px;}
.plan2_newsnr1 p{color:#333;line-height:1.5;font-size:14px;}

.xwzx ul li{overflow:hidden;padding:15px 0;border-bottom:1px dotted #ddd;}
.xwzx ul li:last-child{border:none;}
.xwzx ul li:hover .news-time{border:1px solid #9C0200;}
.xwzx ul li:hover .news-time span{background:#9C0200}
.xwzx ul li:hover a{color:#9C0200;}
.news-time{width:55px;height:55px;display:block;float:left;border:1px solid #ccc;text-align:center;}
.news-time span{width:53px;height:30px;background:#ccc;color:#fff;font-size:24px;line-height:30px;}
.news-time label{width:53px;height:23px;line-height:23px;color:#444;font-size:13px;text-align:center;}

.news_nr{width:448px;float:right;}
.news_nr a{font-size:14px;color:#333;font-weight:bold;}
.news_nr p{font-size:13px;color:#555;line-height:1.5;margin-top:3px;}
#footer{width:100%;height:263px;background:#333;padding:30px 0;font-size:14px;color:#fff;}
#footer .banquan{ line-height:2;}
#footer .banquan a{ color:#dcdcdc;}

.ftb{margin-top:20px;overflow:hidden;}
.ftb>span{display:block;float:left;margin-right:35px;overflow:hidden;}
.ftb>span label{float:left;font-size:13px;line-height:1.5;margin-left:10px;}
.ftb>span img{float:left;}
.ewm{width:150px;overflow:hidden;margin-top:45px; font-weight:bold; font-size:16px;}
.ewm img{margin-bottom:10px; width:150px;}
.left_menu{float:left;}
.left_menu_t{width:251px;height:80px;padding-top:33px;background:url(../img/nav.jpg);text-align:center;color:#fff;}
.left_menu_t h5{font-size:30px;font-weight:bolder;}
.left_menu_t span{font-size:12px;margin-top:3px;}
.cpzx_plan1,.list_plan1,.xq_plan1{padding:20px 0;}
.left_menu li {height:55px;padding-left:30px;background:#E9E7E7;margin:1px 0; font-size:20px;}
.sj1{width:0;height:0;border-top:5px solid transparent;border-bottom:5px solid transparent;border-left:7px solid #9C0200;margin-top:24px;}
.left_menu li a{line-height:55px;/*width:153px;*/padding-left:55px;font-weight:bold;}
.left_menu li:hover{background:#9C0200;}
.left_menu li:hover a{color:#fff}
.left_menu li:hover .sj1{border-left:7px solid #fff;}
.left_menu ul .dqlm{background:#9C0200;}
.left_menu ul .dqlm a{color:#fff}
.left_menu ul .dqlm .sj1{border-left:7px solid #fff;}


.cpzx_plan1_nr,.list_plan1_nr,.xq_plan1_nr{width:815px;overflow:hidden;padding-bottom:40px; font-size: 14px;}
.wz{padding:10px 0;border-bottom:3px solid #9C0200;overflow:hidden;}
.wz span{float:left;font-size:18px; font-weight:bold;color:#9C0200;}
.wz>.fr{font-size:14px;color:#333;}
.wz>.fr a{color:#333;}
.wz>.fr .dq{color:#9C0200;}
.cpzx_plan1_nr ul,.list_plan1_nr ul{overflow:hidden;}
.cpzx_plan1_nr li{float:left;margin:20px 27px 0 0;width:244px;}
.img_box1{width:255px;height:210px;padding:1px;border:2px solid #ddd;}
.img_box1 img{width:249px;height:203px;}
.cp_txt{width:253px;line-height:45px; height:45px;color:#333;font-size:18px;text-align:center; font-weight:bold;}
.cpzx_plan1_nr li:hover .img_box1{border:2px solid #9C0200;}
.cpzx_plan1_nr li:hover .cp_txt{color:#9C0200;}
.list_plan1_nr li{padding:20px 0;border-bottom:1px dashed #ddd;overflow:hidden;}
.list_plan1_nr li span,.list_plan1_nr li a{float:left;}
.list_plan1_nr li label{float:right;color:#666;font-size:13px;}
.list_plan1_nr .content_list li span {color:#999;margin-right:15px;}
.list_plan1_nr li a{color:#333;}
.list_plan1_nr li:hover a,.list_plan1_nr li:hover label,.list_plan1_nr li:hover span{color:#9C0200}
.title4 {
    padding: 25px 0;
    margin: 0 15px;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 22px;
    font-size: 23px;
    font-weight: bolder;
    color: #444;
    text-align: center;

}
.title4>span {
    display: block;
    margin-top: 13px;
    font-size: 13px;
    color: #777;
    font-weight: normal;
}
.article {margin: 0 15px;overflow: hidden;border-bottom: 1px dashed #ccc; font-weight:bold;    font-size: 16px;color: #666;line-height: 1.5; padding:25px 0; min-height:200px;}
.article h2{ height:60px; line-height:60px; color:#9C0200; padding-bottom:5px;}
.article p {margin-bottom: 1rem; overflow:hidden;}
.syp a {font-size: 16px;color: #333333; line-height:30px;display: block;}
.syp a:hover {color: #9C0200;text-decoration: underline;}
.syp {overflow: hidden;padding: 20px 0 20px 0;margin-left: 15px;}
.fx {margin-top: 42px;font-size: 16px;color: #333;margin-right: 15px;}
.fx .jiathis_style .jiathis_txt{ font-size:16px;}




.fy{ overflow:hidden; text-align:center;line-height:24px; padding:30px 0 20px 0; }
.fy .a1{ font-size:14px;padding:4px 12px;color:#666666;border:1px solid #ccc;border-radius:5px;}
.fy a{ font-size:14px;padding:4px 12px;color:#666666;border:1px solid #cdcdcd; background-color:#ffffff;border-radius:5px;}
.fy span{ font-size:14px;padding:4px 12px;color:#ffffff;border:1px solid #A00C0A; background-color:#A00C0A;border-radius:5px;}
.fy a:hover{color:#fff;background:#A00C0A;border:1px solid #A00C0A;} 


.fhsy{ overflow:hidden; width:100%;}
.fhsy a{ width:130px; float:right; margin-right:20px; height:42px; line-height:42px; color:#ffffff; background:#9C0200; display:block; text-align:center; font-size:18px;border-radius:5px;}

.zfd{ display:block; }
.zfd.fixed{ position:fixed; top:0; }


.zbwx{ width:251px; overflow:hidden; margin:20px auto 0 auto; border-bottom:2px solid #9C0200; padding-bottom:10px;}
.zbwx p{ width:251px; height:200px; overflow:hidden; text-align:center;}
.zbwx p img{ width:200px; height:200px;}
.zbwx span{ width:251px; text-align:center; line-height:30px; font-size:16px; font-weight:bold;}


.zblx{ width:251px; overflow:hidden; margin:0 auto 0 auto; }
.zblx img{ width:251px;}

#mypage .pagination li a{ color:#666666; font-size: 16px;}
#mypage{ font-size: 16px; text-align: center;}
#mypage .pagination .activePageCssClass a{ color:#A00C0A; }

#mypage li { float:none;}

#mypage .disabledPageCssClass span, #mypage .firstPageCssClass span, #mypage .lastPageCssClass span, #mypage .nextPageCssClass span, #mypage .prevPageCssClass span{
    color:#666666;
}

#mypage .disabledPageCssClass a, #mypage .firstPageCssClass a, #mypage .lastPageCssClass a, #mypage .nextPageCssClass a, #mypage .prevPageCssClass a{
    color:#666666;
}




.banner{ width:100%; height:480px; overflow:hidden; position:relative;font-size:0}
.b-img{ height:500px;  position:absolute; left:0; top:0;}
.b-img a{ display:block; height:480px; float:left;}
.b-list{ height:50px; padding-top:450px; position:relative; margin:0 auto;z-index:1;}
.b-list span{ display:block;cursor:pointer; width:14px; height:14px; border-radius:50%; border:3px solid #fff; float:left; margin:0 5px; _margin:0 3px;}
.b-list .spcss{border:3px solid #9C0200;}
.bar-left{ position:absolute; z-index:1; display:block; width:100px; height:100%; left:0px; background:none; top:0px; }
.bar-right{ position:absolute;z-index:1; display:block; width:100px; height:100%; right:0px; background:none; top:0px; }
.bar-left em{ display:block; width:25px; height:50px; background:url(../img/arrow.png) 0px 0px no-repeat; margin:0 auto; margin-top:240px;}
.bar-right em{ display:block; width:25px; height:50px; background:url(../img/arrow.png) -25px 0px no-repeat; margin:0 auto; margin-top:240px;}
.bar-left .emcss{ background-position:0px -50px;}
.bar-right .emcss{ background-position:-25px -50px;}

//.img_box1 p{ position:absolute; left:inherit; top:85px; width:251px; height:205px; display:none; background:url(../img/tmbj.png)}
//.img_box1 p span{border-radius:5px; /*display:block;*/ color:#ffffff;background:#730A0B;width:120px;height:38px;text-align:center;line-height:38px;font-size:16px;margin-left:66px;margin-top:84px;}

.img_box1{width:245px;height:200px;padding:1px;border:2px solid #ddd; position:relative;}
.img_box1 img{width:239px;height:195px;}
.img_box1 p{ position:absolute; left:0; top:0; width:239px; height:195px; display:none; background:url(../img/tmbj.png)}
.img_box1 p span{border-radius:5px; display:block; color:#ffffff; background:#730A0B; width:120px; height:38px; text-align:center; line-height:38px; font-size:16px; margin-left:66px; margin-top:84px;}
.img_box1:hover p{ display:block;}




.img_box p{ position:relative; left:0px; top:-203px; width:249px; height:203px; display:none; background:url(../img/tmbj.png)}
.img_box p span{border-radius:5px; /*display:block;*/ color:#ffffff;background:#730A0B;width:120px;height:38px;text-align:center;line-height:38px;font-size:16px;margin-left:0px;margin-top:84px;}

