.commonWidth{width: 1040px;}
.big-carousel{min-width: 1040px;}
.container{width: 1040px;}

ul{padding-left: 0;margin-bottom: 0;}
.search-item {position: relative;float: left;margin-right: 15px;padding: 0;width: 128px;border-radius: 3px;}
.search-item select {width: 100%;line-height: 26px;height: 26px;border: none;font-size: 14px;color: #151618;padding: 0 10px 0 10px;background-color: #fff;border:1px #919191 solid;}
.search_list{background-color: #fff;padding-bottom: 10px;border-bottom: 1px #e6e6e6 solid;}
.col_search{margin-top: 12px;}
.col_search span{line-height: 26px;margin-right: 10px;margin-left: 10px;font-size: 16px;}
.f_search{background-color: #ff7916;color: #fff;border-radius: 4px;padding: 2px 25px;margin-right: 20px;font-size: 16px;}
.col_search div{line-height: 24px;cursor: pointer;}
.commonWidth_all{margin-bottom: 10px;margin-top: 10px;}
.select_sort{background-color: #fff;}

.nch-module-filter {overflow: hidden;}
.lqyahei {font-family: "microsoft yahei";}
.div_2015_fff {background: #fff;width: 100%;}
.nch-module-filter dl {font-size: 0;display: block;clear: both;padding: 5px 0;margin: -1px auto 0 auto;border-top: dotted 1px #E6E6E6;overflow:hidden;}
.nch-module-filter dl dt {line-height: 22px;font-weight: 600;font-size: 14px;color: #272727;text-align: left;width: auto;padding-left: 10px;overflow: hidden;float: left;}
.nch-module-filter dt, .nch-module-filter dd {}
.nch-module-filter dt, .nch-module-filter dd {font-size: 16px;vertical-align: top;letter-spacing: normal;word-spacing: normal;display: inline-block;}
.nch-module-filter dl dd.list {width: 85%;float: left;}
.nch-module-filter dt, .nch-module-filter dd {}
.nch-module-filter dt, .nch-module-filter dd {font-size: 16px;vertical-align: top;letter-spacing: normal;word-spacing: normal;display: inline-block;}
.nch-module-filter dl dd.list ul {font-size: 0;}
.nch-module-filter dl dd.list ul li {vertical-align: top;letter-spacing: normal;word-spacing: normal;display: inline-block;height: 22px;padding: 0 10px;float: left;}
.nch-module-filter dl dd.list ul li a {font-size: 14px;line-height: 20px;display: block;height: 20px;padding: 1px 2px;color: #999;}
.nch-module-filter dl dd.list ul li a.active{color: #ff7916;}
.nch-module-filter dl dd.list ul .active a{color: #ff7916;}
.select_sort{padding: 10px;}

.sort_defalut{border:1px #ff7916 solid;color: #ff7916;border-radius: 4px;padding: 2px 25px;margin-right: 20px;cursor: pointer;font-size: 16px;}
.sort_defalut.active{background-color: #ff7916;color: #fff;border-radius: 4px;padding: 2px 25px;margin-right: 20px;font-size: 16px;}
.sort_defalut:hover a{color: #fff;}
.sort_defalut a{color: #ff7916; text-decoration: none}
.sort_defalut.active a{color: #fff}
.sort_defalut a:hover{color: #fff}
.right_con{width: 260px;margin-right: 0;background-color: #fff;padding-bottom: 13px;}
.r_con_c ul {padding: 10px;overflow: hidden;zoom: 1;padding-top: 0;padding-bottom: 0;margin-bottom: 0;margin-left: 0;}

.right_con li{border-bottom: 1px #e6e6e6 solid;overflow: hidden;padding: 10px 0;}
.raiders_pull{padding: 0 10px;}
.raiders_pull .raiders_top{border-bottom: none;padding: 0px;padding-top: 10px;margin-bottom: 3px;}
.raiders_pull p{color: #a0a0a0;}
.raiders_pull .raiders_top span{font-size: 16px;}
.r_con_c.right_con .img_r{width: 164px;margin-left: 8px;}


.com_list_l{width: 765px;float: left;}
.clearfix {zoom: 1;}
.ma_nr_nei {border-bottom: 1px dashed #f1f1f1;margin: 0 auto;}
.clearfix {display: block;}
.con01 {width: 180px;}
.con02 {border-left: 1px #e5e5e5 solid;}
.cona01, .cona02, .cona03, .cona04, .cona05, .con01, .con02, .con03, .con04, .con05 {float: left;font-size: 12px;}
.con01 span {float: left;}
.ma_nr_nei a img {float: left;padding-top: 10px;}
.con01 samp {float: left;margin-left: 14px;font-size: 12px;width: 170px;margin-top:5px;}
.ma_nr_nei p.co3 {width: 633px;overflow: hidden;margin-left: 10px;float: left;margin-bottom: 0;}
.jqtap {padding: 2px 0;cursor: default;}
.co3 {color: #333;}
.co3 {color: #333;}
.con01 samp p.co3 a {color: #333;text-decoration: none;}
.jqtap {padding: 2px 0;cursor: default;}
.co9 {color: #999;}
.ma_nr{background-color: #fff;padding: 10px;}
.ma_nr:hover{background-color: #f8f8f8;}
.Person,.Pdiya,.PTime{padding-left: 20px;}
.Person{background: url(../img/mren.png) no-repeat center left;}
.Pdiya{background: url(../img/mya.png) no-repeat center left;}
.PTime{background: url(../img/mshijian.png) no-repeat center left;}
.con02,.con03{text-align: center;border-right: 1px #e5e5e5 solid;}
.con02,.con03{width: 190px;height: 69px;padding: 0 6px;}
.con04{width: 100px;height: 69px;}
.con04 >*{float: right;clear: both;}
.con04 >b{margin-top: 3px;font-weight: normal;font-size: 14px;}
.con04 >b span{color: #ff7916;}
.con04 .sort_defalut.active{margin-right: 0;}
.ma_nr_nei p{margin-bottom: 6px;font-size: 14px;}
.shmb p{height: 17px;   line-height: 17px;   -webkit-line-clamp: 1;   -webkit-box-orient: vertical;   overflow: hidden;   -o-text-overflow: ellipsis;   text-overflow: ellipsis;   white-space: nowrap;}
.get_more{border-radius: 20px;padding: 2px 10px;background-color: #ff7916;text-align: center;cursor: pointer; color: #fff;width: 150px;margin: 0 auto;margin-top: 20px;margin-bottom: 20px;padding: 3px 0;}
.clearfix:hover{background-color: #f8f8f8;}
.clearfix a{color: #000;font-weight: normal;font-size: 16px;}
.right_con a{font-size: 16px;}
.clearfix a:hover{color: #ff7916;}
.r_con_c .img_r a {color: #333;}
.r_con_c .img_r a span {color: #000;padding-left: 10px;font-size: 12px;}

.sort_defalut:hover,.f_search:hover{background-color: #ff6316;color: #fff;}
.get_more:hover{background-color: #ff6316;color: #fff;}
.all span{cursor: pointer;}


.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #ff7916;color: #fff;border:1px #ff7916 solid;
}
.pagination>li>a, .pagination>li>span{color: #ff7916;}
.pagination>li>a:hover, .pagination>li>span{color: #ff7916;}
/*.pagination>li>a:link {color: #fff; text-decoration:none;}
.pagination>li>a:visited {color: #fff;text-decoration:none;}*/
/*.pagination>li>a:active {color: #fff;}*/
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover{
	color: #ff7916;
}
/*.Pstars{padding: 0 5px;}*/
.con02{padding: 0 6px;}